BODY
{
	font-size: 12px;
	margin: 0px;
	color: black;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	height: 100%;
	background-color: white;
	text-align: center;
}
table
{
	font-size: 12px;
	color: black;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
}
li.sotto
{
	font-style: italic;
}
#contenitore
{
	height: 100%;
}
#top
{
	position:relarive;
	margin: auto;
	background-image: url(sfum_vert.png);
	width: 920px;
	top: 0px;
	left: 0px;
	height: 22px;
	background-color: transparent;
}
#idPrincipale
{
	z-index:300;
	border-style:solid;
	border-width:1px;
	border-color:#9184a3;
	padding-left:2px;
	margin:2px;

}
#InMainTop
{
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
}
#InMainLeft
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 5px;
	margin: 2px;
	width: 150px;
	border-top-color: #9184a3;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#Presentazione
{
	border-top-width: 1px;
	clear: none;
	padding-right: 3px;
	display: inline;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 3px;
	margin: 1px;
	width: 380px;
	border-top-color: #9184a3;
	padding-top: 3px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#InMainRight
{
	border-top-width: 1px;
	clear: right;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: none;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 5px;
	margin: auto;
	border-top-color: #9184a3;
	padding-top: 5px;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#bottom
{
	top: 100%;
}
#left
{
	position:relative;
	background:trasparent;
	display: block;
	left: 0px;
	float: left;
	margin-left: 0px;
	width: 190px;
	top: 0px;
	text-align: left;
	z-index:300;
}
#right
{
	position:relative;
	display: block;
	left: 0px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 0px;
	padding-right: 0px;
	width: 182px;
	top: 0px;
	text-align: left;
	border-top: #9184a3 1px solid;
	border-left: #9184a3 1px solid;
	border-bottom: #9184a3 1px solid;
	border-right: #9184a3 1px solid;
}
#main
{
	padding-right: 0px;
	display: block;
	padding-left: 5px;
	left: 50%px;
	float: right;
	padding-bottom: 4px;
	margin: 0px 0px 0px -209px;
	width: 420px;
	padding-top: 4px;
	top: 10px;
	text-align: justify;
}
ul.LinkBanner
{
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
li.LinkBanner
{
	display: inline;
	font-weight: bold;
	font-size: 11px;
	float: left;
	width: 100px;
	height: 22px;
}

.LinkInMain a
{
	display: block;
	color: #ffcc33;
	text-decoration: none;
}

/*.LinkBanner a:link, 
.LinkBanner a:visited
{
	color: #324256;
}*/

.LinkInMain a:hover, 
.LinkInMain a:focus, 
.LinkInMain a:active
{
	/*color: #ffffff;*/
	font-weight: bolder;
	text-decoration: underline;
}

ul.LinkInMain
{
	padding-right: 0px;
	display: block;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
li.LinkInMain
{
	padding-right: 0px;
	display: block;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
	height: 22px;
}
