/*
FORMATI TITOLI E TESTO
*/
#contenuto_head
{
	padding-top: 10px;
	padding-left: 5px;
	width: 550px;
}
#contenuto_body
{
	position: absolute;
	top: 130px;
	width: 100%;
}
H1.contenuto
{
	font-weight: bold;
	font-size: 16px;
	color: #eee;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	text-align: center;
	font-variant: normal;
	width: 500px;
}
H2.contenuto
{
	font-weight: bold;
	font-size: 14px;
	color: #eee;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	text-align: center;
	font-variant: normal;
	width: 500px;
}
H3.contenuto
{
	font-weight:normal;
	font-style: italic;
	font-size: 12px;
	color: #eee;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	text-align: justify;
	width: 500px;
}
H4.contenuto
{
	font-weight:normal;	
	font-size: 10px;
	color: #eee;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	text-align: right;
	width: 500px;
}
BLOCKQUOTE.contenuto
{
	border-size:1px;
}
div.cont_upload
{
	display:block;
	float:none;
	border-width:2px;
	border-style:dotted;
	border-color:#3E6E22;
	padding:2px;
	margin:2px;
	width:550px
}
A.contenuto
{
    COLOR: white;
    FONT-FAMILY: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
    TEXT-DECORATION: underline;
}
A:active.contenuto
{
    COLOR: #ffffff;
    FONT-FAMILY: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
    TEXT-DECORATION: none
}
A:hover.contenuto
{
    LEFT: 5px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
img.cont_left
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #3E6E22;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #3E6E22;
	padding-bottom: 5px;
	margin: 2px;
	width: 150px;
	border-top-color: #3E6E22;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #3E6E22;
}
img.cont_left50
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #3E6E22;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #3E6E22;
	padding-bottom: 5px;
	margin: 2px;
	width: 50%;
	border-top-color: #3E6E22;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #3E6E22;
}
img.cont_center
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: block;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #3E6E22;
	border-bottom-width: 1px;
	border-bottom-color: #3E6E22;
	padding-bottom: 5px;
	margin: auto;
	width: 50%;
	border-top-color: #3E6E22;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #3E6E22;
}
img.cont_right
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #3E6E22;
	float: right;
	border-bottom-width: 1px;
	border-bottom-color: #3E6E22;
	padding-bottom: 5px;
	margin: 2px;
	width: 150px;
	border-top-color: #3E6E22;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #3E6E22;
}
img.contenuto
{
	border-top-width: 1px;
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #3E6E22;
	border-bottom-width: 1px;
	border-bottom-color: #3E6E22;
	padding-bottom: 5px;
	margin: 2px;
	border-top-color: #3E6E22;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #3E6E22;
}
img.contenuto_noborder
{
	clear: none;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	padding-bottom: 5px;
	margin: 2px;
	padding-top: 5px;
	text-align: center;
}
