BODY
{
	font-size: 12px;
	margin: 0px;
	color: black;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
	height: 100%;
	background-color: white;
	text-align: center;
}
table
{
	font-size: 12px;
	color: black;
	font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
}
li.sotto
{
	font-style: italic;
}
#contenitore
{
	position:relative;
	height: 100%;
	width:920px;
	margin:auto;
	
}
#head
{
	display:block;
	position:relative;
	background: url(/banner/associazione.jpg) no-repeat center top;
	margin: auto;
	width: 920px;
	top: 0px;
	height: 142px;
}
#top
{
	display:block;
	position:relative;
	margin: auto;
	background-image: url(sfum_vert.png);
	width: 920px;
	top: 0px;
	height: 22px;
	background-color: transparent;
	text-align:right;
}
#idPrincipale
{
	display:block;
	position:relative;
	left:0px;
	top:0px;
	z-index:250;
	border-style:solid;
	border-width:1px;
	border-color:#9184a3;
	padding-left:1px;
	margin:2px;
}
#InMainTop
{
	display: block;
	position:relative;
	margin: auto;
	width: 100%;
	text-align: center;
}
#InMainLeft
{
	border-top-width: 1px;
	padding-right: 5px;
	display: block;
	position: relative;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 5px;
	margin: 2px;
	width: 150px;
	border-top-color: #9184a3;
	padding-top: 5px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#Presentazione
{
	border-top-width: 1px;
	clear: none;
	padding-right: 3px;
	display: inline;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 3px;
	margin: 1px;
	width: 380px;
	border-top-color: #9184a3;
	padding-top: 3px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#InMainRight
{
	display: block;
	position:relative;
	border-top-width: 1px;
	clear: right;
	padding-right: 5px;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-color: #9184a3;
	float: none;
	border-bottom-width: 1px;
	border-bottom-color: #9184a3;
	padding-bottom: 5px;
	margin: auto;
	border-top-color: #9184a3;
	padding-top: 5px;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #9184a3;
}
#bottom
{
	display: block;
	position:absolute;
	top: 100%;
	left:0px;
}
#left
{
	display: block;
	position: relative;
	margin:auto;
	left:0px;
	float: left;
	width: 190px;
	text-align: left;
}
#right
{
	display: block;
	left: 0px;
	width: 182px;
	position: relative;
	top: 0px;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	border-top: #9184a3 1px solid;
	border-left: #9184a3 1px solid;
	border-bottom: #9184a3 1px solid;
	border-right: #9184a3 1px solid;	
}
#main
{
	display: block;
	position: relative;
	padding-right: 0px;
	padding-left: 5px;
	left: 0px;
	float: left;
	padding-bottom: 4px;
	margin: 0px 0px 0px -260px;
	width: 620px;
	padding-top: 4px;
	top: 10px;
	text-align: justify;
	z-index:0;
}
#main_no_news
{
	background-image: url(/img/main_associazione.jpg) no-repeat center top;
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	left: 50%;
	float: right;
	text-align:justify;
	padding-bottom: 4px;
	margin: 0px 0px 0px -260px;
	width: 700px;
	padding-top: 4px;
	position: absolute;
	top: 164px;
}
a
{
    color: #3b1251;
    font-family: 'Book Antiqua' , Tahoma, Verdana, 'Times New Roman';
    text-decoration: none
}

a:active, 
a:hover
{
    left: 5px;
	 color: #9284a5;
    background-color: transparent;
    text-decoration: underline
}

ul.LinkBanner
{
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
li.LinkBanner
{
	display: inline;
	font-weight: bold;
	font-size: 11px;
	float: left;
	width: 100px;
	height: 22px;
}

.LinkInMain a
{
	display: block;
	color: #b95033;
	text-decoration: none;
}

/*.LinkBanner a:link, 
.LinkBanner a:visited
{
	color: #324256;
}*/

.LinkInMain a:hover, 
.LinkInMain a:focus, 
.LinkInMain a:active
{
	/*color: #ffffff;*/
	color: #9284a5;
	text-decoration: underline;
}

ul.LinkInMain
{
	padding-right: 0px;
	display: block;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
li.LinkInMain
{
	padding-right: 0px;
	display: block;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
	height: 22px;
}
DIV.div_help
{
	display:block;
	position:absolute;
	padding:3px;
	border-width:2px;
	border-style:outset;
	font-size:12px;
	color:black;
	width:200px;
	z-index:100;
	background:#efd62c;	
}

DIV.div_popup
{
	display:block;
	position:absolute;
	padding:3px;
	border-width:2px;
	border-style:outset;
	font-size:12px;
	color:black;
	/*width:200px;*/
	z-index:100;
	background:#efd62c;	
	filter:alpha (opacity=70);
	-moz-opacity:.85;
	opacity:.85;
	-khtml-opacity: 0.85;
}


/*parte dei fogli di stile dedicata al forum*/
ul.thread{
	margin:0px;
	padding:0px;
	width:704px;
}

ul.thread li.th_title{
	margin:0px;
	padding:0px;	
	background-image:none;
	height:10px;
}

ul.thread li {
	font-weight:bold;
	display:block;
	clear:left;
	margin:0px;
	padding:0px;
	height:123px;
	border: 0px inset #000;
	border-color:#9184a3;
	background-image:url(/images/forum/thread.png);
	background-repeat: no-repeat;
}

ul.thread ul{
	margin:10px;	
	padding:0px;
	border: 0px;
}

ul.thread ul li{
	font-weight:normal;
	float:left;
	width:190px;	
	margin-right:10px;
	clear:none;	
	border: 0px;
	background-image:none;	
}

ul.thread li.th_col_imm{
	margin:0px;
	padding:0px;	
	width:80px;
}

ul.thread li.th_col_title{
	/*width:250px;*/
	margin:0px;
	padding:0px;	
	width:460px;
	text-align: justify;
}

ul.thread li.th_col_desc{
	margin:0px;
	padding:0px;	
	text-align: right;
	font-size: 10px;
	width:112px;
}

/************** Lista TOPIC*************/
ul.topic{
	margin:0px;
	padding:0px;
	width:704px;
}

ul.topic li.to_title{
	margin:0px;
	padding:0px;	
	background-image:none;
	height:10px;
}

ul.topic li {
	font-weight:bold;
	display:block;
	clear:left;
	margin:0px;
	padding:0px;
	height:45px;
	border: 0px inset #000;
	border-color:#9184a3;
	background-image:url(/images/forum/topic.png);
	background-repeat: no-repeat;
}

ul.topic ul{
	margin:10px;	
	padding:0px;
	border: 0px;
}

ul.topic ul li{
	font-weight:normal;
	float:left;
	width:190px;
	margin-top:10px;	
	margin-right:10px;
	clear:none;	
	border: 0px;
	background-image:none;	
}

ul.topic li.to_col_imm{
	margin:0px;
	margin-top:10px;
	padding:0px;	
	width:30px;
}

ul.topic li.to_col_title{
	/*width:250px;*/
	margin:0px;
	margin-top:10px;
	padding:0px;	
	width:300px;
	text-align: justify;
}

ul.topic li.to_col_replies{
	margin:0px;
	margin-top:10px;
	padding:0px;	
	text-align: center;
	width:30px;
}
ul.topic li.to_col_lasttopic{
	margin:0px;
	margin-top:10px;
	padding:0px;	
	text-align: right;
	width:160px;
}
ul.topic li.to_col_lastposter{
	margin:0px;
	margin-top:10px;
	padding:0px;	
	text-align: right;
	width:160px;
}
div.posts {
	padding-top: 0pt;
	padding-right: 10px;
	padding-bottom: 0pt;
	padding-left: 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-x-position: 100%;
	background-y-position: 0pt;
	background-color: #290b35;
}
.bg2{
	background-color: #311c34;
}

div.postbody{
	padding-top: 2pt;
	padding-right: 4pt;
	padding-bottom: 4pt;
	padding-left: 4pt;
	margin-bottom: 5px;
	margin-top: 5px;
	line-height: 1.48em;	
	width: 100%;
	float: left;
	clear:both;
	background-color: #311c34;
}
div.postbody p{
	margin-top: 0pt;
	margin-right: 15em;
	margin-bottom: 0.6em;
	margin-left: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 5px;
	padding-left: 0pt;
	font-size: 0.8em;
	line-height: 1.2px;
	color: #bf944b;
}
div.postbody div.post_content{
	display:block;
	min-height: 3em;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 1.4em;
	font-size: 1em;
	width: 545px;
	float:left;
}
div.postbody div.post_user{
	display:block;
	margin: 2px;
	border-left-width:0px;
	border-left-style:solid;
	text-align: right;
	width:140px;
	height:25em;
	float:right;
	background-image: url("/images/forum/linea_vert.jpg");
	background-position: top-left;
	background-repeat: no-repeat;
	font-size: 10px;
}
div.divider{
	display:block;	
	padding-top: 2pt;
	padding-right: 4pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	line-height: 1.48em;	
	width: 100%;
}

div.barra_reply{
	display:block;
	float:right;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span{
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-bottom span{
	background-image: none;
	background-x-position: 100%;
	background-y-position: 100%;
}

span.corners-bottom span
{
background-image: url("/images/forum/corners_right.png");
}

.postprofile{
margin-top: 5px;
margin-right: 0pt;
margin-bottom: 10px;
margin-left: 0pt;
min-height: 80px;
color: #666666;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #ffffff;
width: 22%;
float: right;
display: inline;
}

.postprofile
{
color: #666666;
border-left-color: #ffffff;
}

.box_reply{
	padding: 4px;
	padding-bottom:0px;
	border-color: #290b35;
	border-width: 3px;
	border-style: double;
	background-color: #311c34;
}
.box_reply h1{
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 2px;
	border-color: #290b35;
	border-top-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;	
	border-style: double;	
	font-weight: normal;
	font-size: 0.8em;
	line-height: 1.2px;
	color: #bf944b;
	text-align: center;
}
.menu_post {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 6px;
	border-color: #290b35;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;	
	border-style: double;	
	font-weight: normal;
	font-size: 1em;
	line-height: 1.2px;
	color: #bf944b;
	text-align: right;	
}